@{
    ViewData["Title"] = "Privacy Policy";
}


<h3>Privacy Policy</h3>

<hr />
<h4>Effective Date: 01 September 2023</h4>
<hr/>
<h4>Introduction</h4>

<h6>Welcome to the Disaster Alleviation Foundation's Privacy Policy. At the Disaster Alleviation Foundation, we are 
    committed to protecting your privacy and ensuring that your personal information is handled in a responsible and
    secure manner. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information
    when you visit our website, interact with our services, or support our mission.</h6>

<h4>Information We Collect</h4>

<h6>
    Personal Information: We may collect personal information, such as your name, contact details, and payment information,
    when you make a donation, volunteer, or engage with our services.
</h6>

<h6>
    Usage Information: We may collect non-personal information about your interactions with our website and services, such as 
    your IP address, browser type, and device information.
</h6>

<h6>
    Cookies: We may use cookies and similar tracking technologies to enhance your browsing experience and collect information 
    about your preferences.
</h6>

<h4>How We Use Your Information</h4>

<h6> 
    Donations: We use your personal information to process donations, provide tax receipts, and communicate with you about your 
    contributions.
</h6>

<h6>
    Communications: We may send you updates, newsletters, and information related to our mission. You can opt-out of these communications
    at any time.
</h6>

<h6>
    Website Improvement: We use usage information to analyze website performance, optimize content, and improve our services.
</h6>

<h4>Information Sharing</h4>

<h6>
    We do not sell, trade, or rent your personal information to third parties. We may share your information with trusted service providers 
    who assist us in delivering our services. These providers are bound by strict confidentiality agreements.
</h6>

<h4>Security</h4>

<h6>
    We implement security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However,
    no data transmission over the internet or storage method can guarantee 100% security. We cannot ensure or warrant the security of any information
    you transmit to us.
</h6>

<h4>Your Choices</h4>

<h6>
    You can update your personal information, request to be removed from our mailing lists, or exercise other privacy-related rights by contacting us.
</h6>

<h4>Children's Privacy</h4>

<h6>
    Our services are not intended for individuals under the age of 13. We do not knowingly collect or maintain information from children.
</h6>

<h4>Changes to this Privacy Policy</h4>

<h6>
    We may update this Privacy Policy from time to time. Any changes will be posted on our website with the updated effective date.
</h6>

<h4>Contact Us</h4>

<h6>
    If you have questions, concerns, or requests related to this Privacy Policy, please contact us at [Insert Contact Information].
</h6>